:root {
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --main-accent-color: #2196f3;
  --secondary-text-color: #757575;
  --page-background-color: #2f303a;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}

/* Hidden elements */

li {
  list-style: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

/* Site header */

.navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--main-text-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

span {
  color: var(--main-accent-color);
}

span.second-half {
  color: var(--main-background-color);
}

.site-nav {
  display: flex;
  padding-top: 0;
  margin: 0;
}

/* .site-nav .item + .item{
margin-left: 50px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--main-accent-color);
}

.site-nav .current-link {
  color: var(--main-accent-color);
}

/* Contacts top */

.site-contacts {
  display: flex;
  margin-left: auto;
}

/* .site-contacts .header-contacts + .header-contacts{
  margin-left: 50px;
} */

.site-contacts li:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--main-accent-color);
}

/* Studio main title */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section {
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--main-background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Studio order button */

.order {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;

  background-color: var(--main-accent-color);
  color: var(--main-background-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* .order:hover {
  color: var(--main-background-color);
  background-color: var(--main-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* Portfolio filter buttons */

.filters {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.filters button:hover,
.filters button:focus {
  color: var(--main-background-color);
  background-color: var(--main-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters button {
  padding: 6px 22px;

  color: var(--main-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
}

.btn:not(:last-child) {
  margin-right: 8px;
}

/* Portfolio product grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.grid-item {
  margin: 15px;
}

.grid-item-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.grid-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Studio features */

.features-section {
  padding-top: 94px;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-item {
  flex-basis: calc((100%-90px) / 4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* .features .features-item + .features-item {
  margin-left: 30px;
} */

.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-description {
  margin-top: 10px;

  color: var(--secondary-text-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /* text-align: left; */
}

/* Studio works */

.our-works {
  display: flex;
  justify-content: center;
}
/* .our-works .pic + .pic {
  margin-left: 30px;
} */

.our-works .pic:not(:last-child) {
  margin-right: 30px;
}
.our-works-title {
  margin-bottom: 50px;

  color: var(--main-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Studio team */

.our-team {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  justify-content: center;
}

/* .team .member + .member {
  margin-left: 30px;
} */

.team .member:not(:last-child) {
  margin-right: 30px;
}

.member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workman {
  padding: 30px 32px;
}

.employee {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.position {
  margin-top: 10px;

  color: var(--secondary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Portfolio product cards */

.product {
  padding-top: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description {
  margin-top: 4px;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* Contacts bottom */

footer {
  background-color: var(--page-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--main-text-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

address {
  font-style: normal;
}

.contacts-list {
  display: inline-block;
}

.contacts-list li:not(:first-child) {
  margin-top: 9px;
}

.main-address {
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.main-address:hover,
:focus {
  color: var(--main-accent-color);
}

.footer-contacts {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contacts:hover,
:focus {
  color: var(--main-accent-color);
}

/* Vector graphics */

.icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.symbol {
  width: 70px;
  height: 70px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #c4c4c4;

  border: 1px solid #000000;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlayhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link a:hover {
  color: var(--main-background-color);
  background-color: var(--main-accent-color);
  border-radius: 50%;
}

.social-link a:focus {
  color: var(--main-background-color);
  background-color: var(--main-accent-color);
  border-radius: 50%;
}

.clients {
  display: flex;
  justify-content: center;
}

.company {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.company:not(:last-child) {
  margin-right: 30px;
}

.company a {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;
}

.company-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.effect:hover,
.effect:focus {
  border-color: var(--main-accent-color);
  color: var(--main-accent-color);
}
footer .container {
  display: flex;
  align-items: baseline;
}

.join-container {
  display: block;
  margin-left: 70px;
}

.footer-address {
  display: block;
}

.join-title {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-background-color);
}

.join-list {
  display: flex;
}

.join-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  color: var(--main-background-color);
}

.join-social:not(:last-child) {
  margin-right: 10px;
}

.join-social a:hover {
  background-color: var(--main-accent-color);
}

.join-social a:focus {
  background-color: var(--main-accent-color);
}

.join-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
